{% extends 'base.html.twig' %}

{% block title %}Product{% endblock %}

{% block body %}
         {%include "_partials/_nav.html.twig" %}

    <div class="container mt-4">
        <h1>Mes produits</h1>
       <a href="{{path('product_new') }}" class="btn
        btn-primary">Créer un produit</a>
        {# total items count #}
<div class="count mt-4">
      <h4>
        Il y a {{ products.getTotalItemCount }} produits au total
      </h>   
</div>
      <table class="table table-hover mt-4">
  <thead>
    <tr>
      <th scope="col">Type</th>
      <th scope="col">Nom</th>
      <th scope="col">Prix</th>
      <th scope="col">Stock</th>
      <th scope="col">Picture</th> <!-- Nouvelle colonne pour l'image -->
      <th scope="col">Edition</th>
      <th scope="col">Suppresion</th>
    </tr>
  </thead>
  <tbody>
  {% for product in products %}
            
       
    <tr class="table-primary">
      <th scope="row">{{product.id}}</th>
      <td>{{product.name}}</td>
      <td>{{product.price}}</td>
      <td>{{product.inStock}}</td>
      <td><img src="{{asset(product.imgPath)}}" width="50" height="50"></td> <!-- Affichage de l'image -->
  
      <td>
        <a href="{{path('product_edit', {id : product.id }) }}" class="btn
        btn-info">Modifier</a>
      </td>
      <td>
        <a href="{{path('product_delete', {id : product.id }) }}" class="btn
        btn-info">Supprimer</a>
      </td>
    </tr>
     {% endfor %}
  </tbody>
</table>
</div>
{# display navigation #}
<div class="navigation d-flex justify-content-center mt-4">
    {{ knp_pagination_render(products) }}
</div>
{% endblock %}
