{% extends 'base.html.twig' %}

{% block title %}Product{% endblock %}

{% block body %}
         {%include "_partials/_nav.html.twig" %}

    <div class="container mt-4">
        <h1>Mes catégories</h1>
        <a href="{{path('category_new') }}" class="btn
        btn-primary">Créer une catégorie</a>

        {# read and display just one flash message type #}
{% for message in app.flashes('success') %}
    <div class="alert alert-success mt-4">
        {{message}}
    </div>
{% endfor %}

        {# total items count #}
<div class="count mt-4">
      <h4>
        Il y a {{ categories.getTotalItemCount }} catégories au total
      </h>   
</div>
      <table class="table table-hover mt-4">
  <thead>
    <tr>
      <th scope="col">Type</th>>
      <th scope="col">Nom</th>
      <th scope="col">Edition</th>
      <th scope="col">Suppresion</th>
    </tr>
  </thead>
  <tbody>
  {% for category in categories %}
            
       
    <tr class="table-primary">
      <th scope="row">{{category.id}}</th>
      <td>{{category.name}}</td>
      <td>
        <a href="{{path('category_edit', {id : category.id }) }}" class="btn
        btn-info">Modifier</a> 
      </td>
      <td>
         <a href="{{path('category_delete', {id : category.id }) }}" class="btn
        btn-info">Supprimer</a> 
      </td>
    </tr>
     {% endfor %}
  </tbody>
</table>
</div>
{# display navigation #}
<div class="navigation d-flex justify-content-center mt-4">
    {{ knp_pagination_render(categories) }}
</div>
{% endblock %}
